# Build artifacts
build/
bin/
out/
dist/

# Object files
*.o
*.obj
*.a
*.so
*.dll
*.dylib

# Executables
*.exe
*.out

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# IDE / editor
.vscode/
.idea/
*.swp
*.swo

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log

# personal file (can remove if not needed)
examples/output.ch8
